body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#employees {
  margin-top: 10px;
  border: 1px solid black;
}
#employees th {
  border: 1px solid black;
}
#employees td {
  border: 1px solid black;
  padding: 5px;
}
.btn {
  padding: 5px;
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.2s;
}
.btn:hover {
  background-color: aqua;
}
